<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"#}
        {#              integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="#}
        {#              crossorigin="anonymous" referrerpolicy="no-referrer" />#}
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/screen.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>
    </head>
    <body>
        <header class="header pt-4 pt-md-0">
            <div class="top-header bg-green font-light-color d-flex align-items-center w-100">
                <div class="row align-items-center w-100">
                    <div class="col-lg-8 col-md-6 ps-5">Pour toutes informations, nous contactez aux
                                                        adresses suivante
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="row align-items-center text-end">
                            <div class="col-md-6"><i class="ri-phone-line"></i> +000 000 000 000</div>
                            <div class="col-md-6"><i class="ri-mail-line"></i> sankuru@sankuru.net</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <div class="row align-items-center pb-3">
                    <div class="col-sm-3">
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/img/logo/Sankuru.png') }}" alt="Logo de Sankuru"
                                 class="site-logo">
                        </a>

                    </div>
                    <div class="col-sm-6">
                        <form method="get" class="search-form">
                            <input type="text" placeholder="Faire une recherche" class="search-input">
                        </form>
                    </div>
                    <div class="col-sm-3">

                        {% if app.user %}
                            <nav class="navigation">
                                <ul class="nav-links">
                                    <li class="nav-item submenu">
                                        <a href="#" class="nav-link d-flex align-items-center">
                                            <strong>{{ app.user.fullName }}</strong>
                                            <img src="{{ asset('uploads/profile/'~ app.user.image) }}" alt="" class="rounded-circle ms-2 img-mini">
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="{{ path('category_add') }}" class="nav-link">
                                                    Ajouter catégorie <i class="ri-add-circle-fill"></i>
                                                </a>
                                            </li><li class="nav-item">
                                                <a href="{{ path('post_add') }}" class="nav-link">
                                                    Ajouter article <i class="ri-add-circle-fill"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{ path('admin_profile') }}" class="nav-link">
                                                    Profil <i class="ri-user-settings-fill"></i>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{ path('logout') }}" class="nav-link">
                                                    Se déconnecter <i class="ri-logout-circle-r-fill"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        {% else %}
                            <a class="btn" href="{{ path('register') }}"><i class="ri-login-box-fill"></i>
                                S'inscrire</a>
                            <a class="btn" href="{{ path('login') }}"><i class="ri-door-open-fill"></i> Se Connecter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {#        {% include 'admin/_adminHeader.html.twig' %}#}
        {% block body %}
        {% endblock %}
    </body>
</html>
