{% extends 'admin/admin.html.twig' %}

{% block title %}Mettre à jour {{ app.user.fullName }}{% endblock %}

{% block body %}

    <section>
        <div class="row me-0">
            {{ include('admin/_profileLeft.html.twig') }} {# Inclusion du coté gauche de admin dashboard#}

            <div class="col-md-9 cc-profile-right">
                <div class="container-fluid py-3">
                    <div class="row mx-0">

                        {% for message in app.flashes('error') %}
                            <div class='alert alert-danger text-center fs-5 col-md-10 mx-auto'>{{ message }}</div>
                        {% endfor %}

                        <div class="col-md-6 py-5">
                            <h5>Mettre à jour votre mot de passe</h5>
                            <form method="post">
                                <div class="cc-form-group">
                                    <label for="actual" class="form-label">Mot de passe actuel: </label>
                                    <input type="password" placeholder="Mot de passe actuel" id="actual" name="actual"
                                           class="cc-form-control">
                                    {% if errors.actual is defined %} <p
                                            class="text-danger text-small fst-italic">{{ errors.actual }}</p> {% endif %}
                                </div>
                                <div class="cc-form-group">
                                    <label for="new" class="form-label">Nouveau mot de passe: </label>
                                    <input type="password" placeholder="Nouveau mot de passe" id="new" name="new"
                                           class="cc-form-control">
                                    {% if errors.new is defined %} <p
                                            class="text-danger text-small fst-italic">{{ errors.new }}</p> {% endif %}
                                </div>
                                <div class="cc-form-group">
                                    <label for="confirm" class="form-label">confirmer nouveau mot de passe: </label>
                                    <input type="password" placeholder="Confirmer mot de passe" id="confirm"
                                           name="confirm" class="cc-form-control">
                                    {% if errors.confirm is defined %} <p
                                            class="text-danger text-small fst-italic">{{ errors.confirm }}</p> {% endif %}
                                </div>
                                <button type="submit" class="cc-btn cc-btn-outline cc-btn-big" id="send">Mettre à jour
                                </button>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

